div {
  background-color: aqua;
  height: 50px;
  width: 50px;
  border: solid;
  border-color: black;
}

.vacio {
  background-color: beige;
}

.ocupado {
  background-color: firebrick;
  border-bottom-color: black;
}

.no-disponible {
  background-color: darkgray;
}
