.square {
  height: 50px;
  width: 50px;
}

.square-border {
  border: solid;
  border-color: black;
  border-width: medium;
}

.vacio {
  background-color: beige;
}

.ocupado {
  background-color: firebrick;
  text-align: center;
}

.no-disponible {
  background-color: darkgray;
}

.tiene-pieza {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: blue;
}

.selected {
  opacity: 0.5;
}
